.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    z-index: 999;

    img {
        width: 25%;
        margin: auto;
    }

    #hb {
        display: none;
    }

    label[for="hb"] {
        display: block;
        position: relative;
        margin: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;

        span {
            width: 80%;
            height: 3px;
            background-color: white;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            border-radius: 3px;

            &:first-child {
                transform: translateY(10px);
            }

            &:last-child {
                transform: translateY(-10px);
            }
        }
    }

    .side-bar {
        background-color: black;
        position: fixed;
        width: 80%;
        height: 700px;
        top: 50px;
        left: -100%;
        transition: .5s;
        overflow: auto;
        color: white;
        z-index: 1000;

        a {
            color: white;
            text-decoration: none;
            font-size: 14px;
        }

        p {
            margin: 0;
            font-size: 14px;
        }

        table {
            box-sizing: border-box;
            width: 100%;

            thead {
                label {
                    width: 100%;
                }
            }

            tbody,
            thead {
                tr {
                    td {
                        width: 50%;
                        background-color: #1E1E1E;
                        border: 1px solid #505050;

                        input[type*="text"] {
                            background-color: inherit;
                            border: none;
                            width: 75%;
                        }

                        input[type*="check"] {
                            display: none;
                        }

                        i {
                            font-size: 18px;
                        }

                        i[class*="time"] {
                            color: white;
                            margin-left: 5px;
                        }

                        i[class*="search"] {
                            color: #505050;
                            margin-left: 5px;
                        }

                        label {
                            float: right;
                            margin: 0;
                        }

                        i[class*="plus"] {
                            display: inline-block;
                            color: #505050;
                        }

                        &.handle-item,
                        &.knob-item {
                            background-color: #3f3f3f;
                            display: none;
                        }

                        &.community {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    #hb:checked~.side-bar {
        left: 0;
    }

}

.homepage {
    .carousel {
        .carousel-indicators {
            li {
                width: 15px;
                height: 15px;
                margin: 0 10px;
                border-radius: 100%;
            }
        }

        .carousel-inner {
            >div {
                background-size: cover;
                background-position: center;
                height: 100vh;

                &:nth-child(1) {
                    background-image: url(/taken/img/mainbnr_17.png);
                }

                &:nth-child(2) {
                    background-image: url(/taken/img/mainbnr_12.png);
                }

                .carousel-caption {
                    bottom: 30%;

                    h2 {
                        font-size: 60px;
                        margin: 10px 0;
                        line-height: 2;
                    }

                    h3 {
                        font-size: 30px;
                    }

                    a {
                        font-size: 14px;
                        font-weight: 700;
                        color: white;
                        text-decoration: none;
                        padding: 10px 25px;
                        border: 1px solid white;
                    }
                }
            }
        }
    }
}

.factory {
    h3 {
        font-size: 18px;
        font-weight: bold;
    }

    p {
        font-size: 14px;
        line-height: 1.8;
        color: #666666;
    }
}

.handle {
    h3 {
        font-size: 20px;
        text-decoration-line: underline;
    }

    .row {
        .col-6 {
            .card{
                border: none;
                p{
                    font-size: 10px;
                    margin-bottom: 6px;
                }
            }
        }
    }
}
.take-it-taken{
    background-image: url(/taken/img/ia_100000152.jpg), linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
    background-blend-mode: multiply;
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    p{
        padding: 80px 0;
        font-size: 24px;
        line-height: 1.6;
        span{
            display: block;
            font-weight: bold;
            font-size: 50px;
        }
    }
}
.footer{
    background-color: black;
    .footer-nav{
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: #A6A6A6;
            padding: 10px 5px;
            font-size: 12px;
        }
    }
    .container{
        .row{
            .col-6{
                color: #A6A6A6;
                padding: 0;
                .card{
                    border-radius: 0px;
                    padding: 0;
                    background-color: #1E1E1E;
                    .card-body{
                        padding:0;
                        height: 150px;
                        .text{
                            flex-direction: column;
                            justify-content: space-between;
                        }
                        p{
                            font-size: 10px;
                            margin: 5px 0;
                            &.title{
                                color: white;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                    }
                    li{
                        i{
                            display: block;
                            color: white;
                            font-size: 16px;
                            margin-bottom: 5px;
                        }
                        text-align: center;
                        font-size: 8px;
                        border-radius: 0px;
                        width: 50%;
                        height: 80px;
                        border: 1px solid #505050;
                        background-color: #323232;
                        margin: 0 0 -1px -1px;
                    }
                    ul{
                        margin: 0;
                    }
                }
            }
        }
    }
}