body {
  font-family: 'Noto Sans SC', sans-serif;
}

label {
  display: none;
}

input {
  display: none;
}

.hamburger-content {
  display: none;
}

.homepage {
  text-align: center;
}

.owl-carousel div img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.owl-carousel div .img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
}

.owl-carousel div .img-container h2 {
  font-size: 40px;
  margin-top: 180px;
}

.owl-carousel div .img-container h3 {
  margin: 50px 0 140px;
  font-size: 20px;
}

.owl-carousel div .img-container a {
  text-decoration: none;
  color: white;
  margin: 0 30px;
  padding: 10px 20px;
  background-color: rgba(3, 63, 119, 0.6);
}

.owl-carousel div .img-container a :hover {
  background-color: #033f77;
}

.owl-carousel div .img-container .bk {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(3, 63, 119, 0.6);
}

.header {
  color: white;
  background-color: black;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  text-align: center;
  color: white;
  margin: 15px 0;
}

.header .container .title-container img {
  width: 50px;
}

.header .container .title-container .text {
  margin-left: 16px;
}

.header .container .title-container .text .title {
  font-size: 26px;
}

.header .container .title-container .text .sub-title {
  font-size: 12px;
}

.header .container nav a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 14px;
  color: white;
}

.feature .container {
  width: 960px;
  padding: 120px 0 80px;
}

.feature .container > div {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 100px;
}

.feature .container .title {
  font-size: 30px;
}

.feature .container .title h3 {
  padding-top: 10px;
}

.feature .container .title p {
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.feature .container .title span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.feature .container .content h3 {
  font-size: 22px;
  padding-bottom: 24px;
}

.feature .container .content p {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.feature .container .content p span {
  display: block;
  padding-top: 20px;
}

.time-title,
.tools-title,
.companion-title {
  position: relative;
  z-index: 99;
}

.time-title ::after,
.tools-title ::after,
.companion-title ::after {
  content: "";
  background-image: url(/buildschool/img/asset_5.png);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.time-title ::before,
.tools-title ::before,
.companion-title ::before {
  content: "";
  background-color: #015378;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}

.time-title h2,
.tools-title h2,
.companion-title h2 {
  font-size: 24px;
  text-align: center;
  padding: 55px;
  color: #fff;
}

.time {
  width: 100% !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.time img {
  width: 25%;
}

.time > :nth-child(2) img {
  width: 12.5%;
}

.time > div {
  padding: none;
  padding-bottom: 80px;
}

.time > div p {
  display: list-item;
  text-align: left;
  margin: 0 60px;
  line-height: 1.5;
}

.time > div h3 {
  padding: 50px 0;
  font-size: 20px;
  font-weight: 700;
}

.time > div h4 {
  color: red;
  padding: 40px 0;
  font-size: 18px;
}

.tools {
  width: 100% !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 80px 0;
}

.tools > div {
  margin: auto;
  width: 85%;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dotted #aaa;
  padding-bottom: 20px;
  line-height: 1.8;
}

.tools > div .img {
  width: 40%;
}

.tools > div .img img {
  display: block;
  margin: 15px auto;
}

.tools > div .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 100px;
}

.tools > div .text h3 {
  font-size: 24px;
  padding-bottom: 10px;
}

.tools > div:last-child {
  border: none;
}

.tools > div p {
  display: list-item;
  font-size: 14px;
}

.companion {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.companion .img {
  text-align: center;
}

.companion .img img {
  margin: 20px 0;
}

.contact-us {
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px 0;
  line-height: 2.5;
  border-top: 5px solid #bbb;
}

.contact-us h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-us a {
  text-decoration: none;
  color: white;
}

.contact-us a img {
  margin: 0 10px;
}

.contact-us > :nth-last-child(2) {
  display: block;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media screen and (max-width: 993px) {
  label {
    background-color: #ddd;
    display: block;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    top: 30px;
    border-radius: 5px;
    z-index: 999;
  }
  label span {
    width: 70%;
    height: 5px;
    border-radius: 2px;
    background-color: #585858;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  label span:nth-child(1) {
    -webkit-transform: translate(0, -11px);
            transform: translate(0, -11px);
  }
  label span:nth-child(3) {
    -webkit-transform: translate(0, 11px);
            transform: translate(0, 11px);
  }
  input {
    display: none;
  }
  input:checked ~ label {
    color: black;
  }
  input:checked ~ label :nth-child(1) {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  input:checked ~ label :nth-child(2) {
    opacity: 0;
  }
  input:checked ~ label :nth-child(3) {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  input:checked ~ label span {
    background-color: black;
  }
  input:checked ~ .hamburger-content {
    right: 0;
    opacity: 1;
  }
  .hamburger-content {
    display: block;
    position: fixed;
    top: 0px;
    right: -100%;
    background-color: white;
    width: 300px;
    height: 85vh;
    border-radius: 5px;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 998;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 80px;
    opacity: 0;
  }
  .hamburger-content a {
    border-bottom: 1px solid #bbb;
    padding: 36px 0;
    text-align: center;
    display: block;
    font-size: 30px;
    color: black;
    text-decoration: none;
  }
  .container {
    max-width: 992px !important;
  }
  .header nav {
    display: none;
  }
  .header .sub-title {
    display: none;
  }
  .owl-carousel div .img-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 60px;
  }
  .owl-carousel div .img-container h2 {
    font-size: 40px;
    margin: 20px 0 15px;
  }
  .owl-carousel div .img-container h3 {
    margin: 15px 120px;
    font-size: 24px;
  }
  .owl-carousel div .img-container a {
    margin: 12px 120px;
    font-size: 18px;
    display: inline-block;
  }
  .feature .container {
    padding: 50px 200px 0;
  }
  .feature .container > :nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .feature .container > :nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .feature .container > :nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .feature .container > :nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .feature .container > :nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .feature .container > :nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .feature .container > :nth-child(7) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .feature .container > :nth-child(8) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .feature .container .title h3 {
    padding-top: 30px;
  }
  .feature .container .content {
    font-size: 40px;
  }
  .time img {
    width: 12.5%;
  }
  .time > :nth-child(2) img {
    width: 6.25%;
  }
  .time > div p {
    font-size: 24px;
    margin: 0 300px;
    line-height: 1.8;
  }
  .time > div h3 {
    font-size: 40px;
  }
  .time > div h4 {
    font-size: 26px;
  }
  .companion {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0;
  }
  .companion .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 150px;
  }
  .companion .img img {
    margin: 20px 0;
  }
}

@media screen and (max-width: 769px) {
  .container {
    max-width: 768px !important;
  }
  .hamburger-content {
    width: 120px;
    height: 85vh;
    padding: 120px 80px;
    opacity: 0;
  }
  .hamburger-content a {
    font-size: 24px;
  }
  .owl-carousel .owl-dots {
    top: 85% !important;
  }
  .owl-carousel div .img-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 60px;
  }
  .owl-carousel div .img-container h2 {
    font-size: 30px;
    margin: 16px 0 15px;
  }
  .owl-carousel div .img-container h3 {
    margin: 8px 120px;
    font-size: 20px;
  }
  .owl-carousel div .img-container a {
    margin: 8px 120px;
    font-size: 16px;
    display: inline-block;
  }
  .feature .container {
    width: 100%;
    padding: 50px 0px 0;
  }
  .feature .container > div {
    margin: 40px auto;
  }
  .feature .container .content h3 {
    font-size: 26px;
  }
  .feature .container .content p {
    font-size: 20px;
  }
  .time > div {
    width: 100%;
  }
  .time > div p {
    margin: 0 auto;
  }
  .tools .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tools .row .text {
    padding: 0 80px;
  }
  .tools .row .text h3 {
    font-size: 30px;
  }
  .tools .row p {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .companion .img {
    display: block;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=buildschool.css.map */