body {
    font-family: 'Noto Sans SC', sans-serif;
}

label {
    display: none;
}

input {
    display: none;
}

.hamburger-content {
    display: none;
}

.homepage {
    text-align: center;
}

.owl-carousel {
    div {
        img {
            filter: brightness(0.7);
        }

        // position: relative;
        .img-container {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            color: white;

            h2 {
                font-size: 40px;
                margin-top: 180px;
            }

            h3 {
                margin: 50px 0 140px;
                font-size: 20px;
            }

            a {
                text-decoration: none;
                color: white;
                margin: 0 30px;
                padding: 10px 20px;
                background-color: rgba(3, 63, 119, 0.6);

                :hover {
                    background-color: rgba(3, 63, 119, 1);
                }
            }

            .bk {
                display: inline-block;
                padding: 10px 20px;
                background-color: rgba(3, 63, 119, 0.6);
            }
        }
    }
}


.header {
    color: white;
    background-color: black;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.5;
            text-align: center;
            color: white;
            margin: 15px 0;

            img {
                width: 50px;
            }

            .text {
                margin-left: 16px;

                .title {
                    font-size: 26px;
                }

                .sub-title {
                    font-size: 12px;
                }
            }
        }

        nav {
            a {
                text-decoration: none;
                padding-left: 20px;
                font-size: 14px;
                color: white;
            }
        }
    }
}

.feature {
    .container {
        width: 960px;
        padding: 120px 0 80px;

        >div {
            text-align: center;
            line-height: 1.8;
            margin-bottom: 100px;
        }

        .title {
            font-size: 30px;

            h3 {
                padding-top: 10px;
            }

            p {
                font-size: 18px;
                text-align: left;
                padding-left: 30px;
                padding-top: 10px;
            }

            span {
                text-decoration-line: underline;

            }
        }

        .content {
            h3 {
                font-size: 22px;
                padding-bottom: 24px;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                text-align: left;

                span {
                    display: block;
                    padding-top: 20px;
                }
            }
        }
    }
}

.time-title,
.tools-title,
.companion-title {
    position: relative;
    z-index: 99;

    ::after {
        content: "";
        background-image: url(/buildschool/img/asset_5.png);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }

    ::before {
        content: "";
        background-color: #015378;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.9;
    }

    h2 {
        font-size: 24px;
        text-align: center;
        padding: 55px;
        color: #fff;
    }
}

.time {
    width: 100% !important;
    justify-content: space-between;
    text-align: center;

    img {
        width: 25%;
    }

    >:nth-child(2) {
        img {
            width: 12.5%;
        }
    }

    >div {
        padding: none;
        padding-bottom: 80px;

        p {
            display: list-item;
            text-align: left;
            margin: 0 60px;
            line-height: 1.5;
        }

        h3 {
            padding: 50px 0;
            font-size: 20px;
            font-weight: 700;
        }

        h4 {
            color: red;
            padding: 40px 0;
            font-size: 18px;
        }
    }
}

.tools {
    width: 100% !important;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 80px 0;

    >div {
        margin: auto;
        width: 85%;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px dotted #aaa;
        padding-bottom: 20px;
        line-height: 1.8;

        .img {
            width: 40%;

            img {
                display: block;
                margin: 15px auto;
            }

        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 100px;

            h3 {
                font-size: 24px;
                padding-bottom: 10px;
            }
        }

        &:last-child {
            border: none;
        }

        p {
            display: list-item;
            font-size: 14px;
        }
    }
}

.companion {
    justify-content: space-between;
    padding: 40px 0;

    .img {
        text-align: center;

        img {
            margin: 20px 0;
        }
    }
}

.contact-us {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
    line-height: 2.5;
    border-top: 5px solid #bbb;

    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: white;

        img {
            margin: 0 10px;
        }
    }

    &>:nth-last-child(2) {
        display: block;
        text-decoration-line: underline;
    }
}

@media screen and (max-width:993px) {
    label {
        background-color: #ddd;
        display: block;
        position: fixed;
        width: 50px;
        height: 50px;
        right: 30px;
        top: 30px;
        border-radius: 5px;
        z-index: 999;

        span {
            width: 70%;
            height: 5px;
            border-radius: 2px;
            background-color: #585858;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            transition: 0.7s;

            &:nth-child(1) {
                transform: translate(0, -11px);
            }

            &:nth-child(3) {
                transform: translate(0, 11px);
            }
        }
    }

    input {
        display: none;

        &:checked {
            ~label {
                color: black;

                :nth-child(1) {
                    transform: rotate(-225deg)
                }

                :nth-child(2) {
                    opacity: 0;
                }

                :nth-child(3) {
                    transform: rotate(225deg)
                }

                span {
                    background-color: black;
                }
            }

            ~.hamburger-content {
                right: 0;
                opacity: 1;
            }
        }
    }

    .hamburger-content {
        display: block;
        position: fixed;
        top: 0px;
        right: -100%;
        background-color: white;
        width: 300px;
        height: 85vh;
        border-radius: 5px;
        transition: 0.7s;
        z-index: 998;
        display: flex;
        flex-direction: column;
        padding: 120px 80px;
        opacity: 0;

        a {
            border-bottom: 1px solid #bbb;
            padding: 36px 0;
            text-align: center;
            display: block;
            font-size: 30px;
            color: black;
            text-decoration: none;
        }
    }

    .container {
        max-width: 992px !important;
    }

    .header {
        nav {
            display: none;
        }

        .sub-title {
            display: none;
        }
    }

    .owl-carousel {
        div {
            .img-container {
                box-sizing: border-box;
                padding: 0 60px;

                h2 {
                    font-size: 40px;
                    margin: 20px 0 15px;
                }

                h3 {
                    margin: 15px 120px;
                    font-size: 24px;
                }

                a {
                    margin: 12px 120px;
                    font-size: 18px;
                    display: inline-block;
                }
            }
        }
    }

    .feature {
        .container {
            padding: 50px 200px 0;

            >:nth-child(1) {
                order: 1;
            }

            >:nth-child(2) {
                order: 2;
            }

            >:nth-child(3) {
                order: 4;
            }

            >:nth-child(4) {
                order: 3;
            }

            >:nth-child(5) {
                order: 5;
            }

            >:nth-child(6) {
                order: 6;
            }

            >:nth-child(7) {
                order: 8;
            }

            >:nth-child(8) {
                order: 7;
            }

            .title {
                h3 {
                    padding-top: 30px;
                }
            }

            .content {
                font-size: 40px;
            }
        }
    }

    .time {
        img {
            width: 12.5%;
        }

        >:nth-child(2) {
            img {
                width: 6.25%;
            }
        }

        >div {
            p {
                font-size: 24px;
                margin: 0 300px;
                line-height: 1.8;
            }

            h3 {
                font-size: 40px;
            }

            h4 {
                font-size: 26px;
            }
        }
    }

    .companion {
        justify-content: space-between;
        padding: 40px 0;

        .img {
            display: flex;
            justify-content: space-around;
            margin: 0 150px;

            img {
                margin: 20px 0;
            }
        }
    }
}

@media screen and (max-width:769px) {
    .container {
        max-width: 768px !important;
    }

    .hamburger-content {
        width: 120px;
        height: 85vh;
        padding: 120px 80px;
        opacity: 0;

        a {
            font-size: 24px;
        }
    }

    .owl-carousel {
        .owl-dots {
            top: 85% !important;
            .owl-dot{
                span{
                    width: 3px!important;
                    height: 3px!important;
                    margin: 5px 1px!important;
                }
            }
        }

        .owl-nav {

            .owl-prev,
            .owl-next {
                font-size: 38px !important;
            }
        }

        div {
            .img-container {
                box-sizing: border-box;
                padding: 0 60px;

                h2 {
                    font-size: 16px;
                    margin: 5px 0 6px;
                }

                h3 {
                    margin: 4px 0;
                    font-size: 12px;
                }

                a {
                    padding: 2px 3px;
                    margin: 5px 15px;
                    font-size: 8px;
                    display: inline-block;
                }
            }
        }
    }

    .feature {
        .container {
            >div {
                margin: 40px auto;
            }

            width: 100%;
            padding: 50px 0px 0;

            .content {
                h3 {
                    font-size: 26px;
                }

                p {
                    font-size: 20px;
                }
            }
        }

    }

    .time {

        >div {
            width: 100%;

            p {
                margin: 0 auto;
            }

            img {
                width: 30%;
            }

        }

        >:nth-child(2) {
            img {
                width: 15%;
            }
        }
    }

    .tools {
        .row {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img {
                width: 100%;
                text-align: center;
            }

            .text {
                padding: 0;

                h3 {
                    font-size: 30px;
                }
            }

            p {
                font-size: 16px;
                padding-bottom: 20px;
            }
        }
    }

    .companion {
        .img {
            display: block;
            margin: 0 auto;

            img {
                margin: 20px auto;
                display: block;
            }
        }
    }
}